<div class="post">


<p class="meta">Bank Withdrawal for Account# <%= @account.account_number %>: <%= @account.account_name %> - Accounting Period: <%= @accounting_period.id %></p>
<h2 class="title">New Bank Withdrawal</h2>
<div class="entry">


<div id="entryForm">
  <%= render 'form' %>
</div>


</div>
</div>
