<div class="post">


<p class="meta">Bank Penalty for Account# <%= @account.account_number %>: <%= @account.account_name %> - Accounting Period: <%= @accounting_period.id %></p>
<h2 class="title">Edit Bank Penalty</h2>
<div class="entry">


<div id="entryForm">
  <%= render 'form' %>
</div>

</div>
</div>
