


<div class="post">


<p class="meta">this is the home page</p>
<h2 class="title">Home</h2>
<div class="entry">


<p>Find me in app/views/home/index.html.erb</p>


<% unless current_user && user_signed_in? %>
 <%= link_to 'Login', new_user_session_path %>
<% end %>


</div>
</div>
